@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


.profileBox {
    display: flex;
    flex-direction: column;
    max-height: max-content;
    height: 700px;
    width: 100%;
    left: 0;
    font-family: 'Roboto', sans-serif;
}

.top {
    background-color: rgba(0, 0, 0, 0.875);
    flex: 1;
    color: #ffffffdc;
    text-align: center;
    text-shadow: 0px 15px 35px rgba(0, 0, 0, 0.4);
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
}



.bottom {
    flex: 6;
    display: flex;
    flex-direction: row;
    font-family: 'Nunito', sans-serif;
}


/*=======Left=======*/

/* .left {
    
   
    
    background-image: url("https://github.com/Thimira20/qr-code2/blob/master/public/images/depositphotos_32137905-stock-photo-qr-code-science-and-technology.jpg?raw=true");
    flex: 2;
    display: flex;
    flex-direction: column;
    min-height: 400px;
    font-family: 'Poppins', sans-serif;
    backdrop-filter: blur(8px);
  
} */

.left {
    position: relative;
    flex: 2;
    display: flex;
    flex-direction: column;
    min-height: 400px;
    font-family: 'Poppins', sans-serif;
    overflow: hidden; /* Ensure the pseudo-element doesn't overflow */
}

.left::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/public/images/depositphotos_32137905-stock-photo-qr-code-science-and-technology.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(4px); /* Apply the blur effect */
    z-index: -1; /* Ensure the pseudo-element is behind the content */
}






/*=======Right=======*/

.right {
    background-color: rgb(75, 110, 215);
    flex: 1;
}