.homeBox {
  background-color: rgb(0, 0, 0);
  display: flex;
  height: 768px;
  background-image: url("https://github.com/Thimira20/qr-code2/blob/master/public/images/wallpapersden.com_cool-4k-pattern_3840x2160.jpg?raw=true");
}

.homeBoxLeft {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeBoxRight {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftBoxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightBoxContainer {
  display: flex;
  align-items: center;
  height: auto;
}

.homeQr {
  height: 200px;
  -webkit-animation: spin 30s linear infinite;
  -moz-animation: spin 30s linear infinite;
  animation: spin 30s linear infinite;
  background-color: whitesmoke;
  box-shadow: rgba(19, 18, 18, 0.541) 0px 25px 50px -12px;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.text {
  text-align: center;
  text-shadow: 0px 15px 40px rgba(0, 0, 0, 0.35);
  color: #ffffff;
 
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 110px;
  margin: 0 0;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 20px #0c00e6, 0 0 20px #4d00e6, 0 0 20px #0c00e6, 0 0 70px #3200e6;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #e7e6e6, 0 0 20px #f6f1f3,
      0 0 20px #ffffff, 0 0 20px #e6e6e6, 0 0 30px #ffffff, 0 0 30px #ff4da6;
  }
}

@media (max-width: 780px) {
  .homeBox {
    flex-direction: column;
  }
  .text {
    font-size: 70px;
    line-height: 100px;
    color: azure;
  }
  .homeQr {
    height: 170px;
  }
}

/* __Animations__*/

.loader1 {
  width: 160px;
  aspect-ratio: 1;
  display: grid;
}

.loader1:before,
.loader1:after {
  content: "";
  grid-area: 1/1;
  
  width: 75px;
  aspect-ratio: 1;
  box-shadow: 0 0 0 3px #e0fc0e inset;
  filter: drop-shadow(85px 85px 0 #ffffff);
  animation: l8 2s infinite alternate;
}

.loader1:after {
  margin: 0 0 0 auto;
  filter: drop-shadow(-80px 80px 0 hsl(0, 0%, 98%));
  animation-delay: -1s;
}

@keyframes l8 {
  0%,
  10% {
    border-radius: 0;
  }
  30%,
  40% {
    border-radius: 50% 0;
  }
  60%,
  70% {
    border-radius: 50%;
    box-shadow: 0 0 0 3px #0099ffe1 inset;
  }
  90%,
  100% {
    border-radius: 0 50%;
  }
}


/*============wellcome=================*/
@import 'https://fonts.googleapis.com/css?family=Baloo+Paaji';

h1, h2{
  
  font-family: 'Baloo Paaji', cursive;
  
  
  span{
    width: 100%;
    float: left;
    color: #ffffff;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    transform: translateY(-50px);
    opacity: 0;
    animation-name: titleAnimation;
    animation-timing-function:ease;
    animation-duration: 3s;
    animation-iteration-count: infinite; /* Repeat the animation infinitely */
    -webkit-animation-iteration-count: infinite; 
  }
}
h1 span{
  animation-delay: 0.6s;
  -webkit-animation-fill-mode: forwards;

  &:first-child{
    animation-delay: 0.7s;

  }

  &:last-child{
    color: #ffe221;
    animation-delay: 0.5s;
  }
}

/* h2{ 
  top: 0;
  position: absolute;
  
  span{
    animation-delay: 4.1s;
    -webkit-animation-fill-mode: forwards;

    &:first-child{
      animation-delay: 4.2s;

    }

    &:last-child{
      color: #ffe221;
      animation-delay: 4s;
    }
  }
} */
@keyframes titleAnimation {
  0% {
    transform: translateY(-50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
}
20% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
}
80% {
     transform: translateY(0);
     opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
}
100% {
     transform: translateY(50px);
     opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
    clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
  
}
}