@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.delete-icon {
    font-size: 30px;
    color: rgb(31, 31, 31);
    transition: color 0.8s, transform 0.8s;
  }
  
  .delete-icon:hover {
    color: rgb(255, 10, 10); /* Change color on hover */
    transform: scale(1.5); /* Scale the icon */
  }
  
.fav-icon {
    font-size: 30px;
    color: rgb(255, 255, 255);
    transition: color 0.3s, transform 0.3s;
  }
  
  .fav-icon:hover {
    color: rgb(228, 248, 9); /* Change color on hover */
    transform: scale(1.2); /* Scale the icon */
  }
  
  .deleteAll {
    background-color: #ff4343;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
   
  }
  
  .deleteAll:hover {
    background-color: #ffffff;
    
  }
  
  .showAll {
    background-color: #3f7cf8;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s;
  }
  
  .showAll:hover {
    background-color: #3403e4;
  }
  